/* Default styles for larger screens */
.home-container {
    padding: 3vh !important;
    margin-top: 4em !important;
    margin-bottom: 10vh !important;
}

.carousel-image {
    width: 100% !important;
    height: 32rem !important;
    max-height: 100% !important;
    object-fit: cover !important;
    border-radius: 4vh !important;
}

.carousel-heading {
    position: absolute;
    top: 5rem !important;
    left: 5vh;
    right: 20vh;
    bottom: 100vh !important;
    color: white;
    text-align: left;
    font-weight: bolder;
    white-space: pre-line;
}

.learn-more-button {
    position: absolute;
    bottom: 3em !important;
    left: 5vh !important;
    padding: 1.5vh 2vh;
    background-color: #cb0d0d;
    border-radius: 1.5vh;
    font-weight: bold;
    cursor: pointer;
    max-width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;

}

/* Featured News section */
.featured-news-heading {
    margin-top: 20vh !important;
    font-weight: bolder;
}


/* Featured Video section */
.featured-video-container {
    background-color: #242424;
    margin-top: 5rem;
    padding: 3rem;
    color: white;
}

.featured-video-heading {
    font-size: 1.2rem !important;
    margin-bottom: 2rem !important;
    color: gray;
    display: block;
}

.featured-video-title {
    font-size: 2.5rem !important;
    font-weight: bold;
    margin-top: 3rem !important;
}

.featured-video-description {
    color: #efeeeb;
    margin-bottom: 4rem !important;
}

.explore-mission-link {
    color: white;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.arrow-outward-icon {
    font-size: 1.5rem !important;
    vertical-align: middle;
    margin-left: 0.2rem;
    color: #cb0d0d;
    transition: color 0.5s;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
    .home-container {
        padding: 10px;
        margin-top: 100px;
        margin-bottom: 40px;
    }

    .carousel-heading {
        top: 10%;
    }

    .learn-more-button {
        bottom: 20px;
    }



}

/* Media queries for even smaller screens */
@media (max-width: 480px) {
    .home-container {
        padding: 10px;
        margin-top: 100px;
        margin-bottom: 40px;
    }

    .carousel-heading {
        top: 10%;
    }

    .learn-more-button {
        bottom: 30px;
    }


    /* Add more styles for even smaller screens as needed */
}