.card-title{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 8vh;
    border-radius: 2vh;
    z-index: 1;
    text-align: start;
    width: 50%;
}